@tailwind base;
@tailwind components;
@tailwind utilities;

/*html,*/
/*body {*/
/*  @apply bg-white dark:bg-gray-950;*/

/*  @media (prefers-color-scheme: dark) {*/
/*    color-scheme: dark;*/
/*  }*/
/*}*/

@layer base {
  * {
    @apply border-border-color;
  }

  body {
    @apply text-sm text-body-color;
  }
  h1 {
    @apply text-display-sm font-semibold text-heading;
  }
  h2,
  h3 {
    @apply text-display-xs text-sub-heading;
  }

  input {
    @apply focus:outline-none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  table,
  tr,
  th,
  td,
  caption {
    @apply border-collapse border-border-color;
  }

  .nav-links.active {
    @apply text-primary-cta;
  }
}

@layer components {
  .nav-links {
    @apply flex items-start gap-2.5 rounded-lg px-4 py-4 text-md font-medium hover:bg-border-color;
  }
}
